@media (max-width: 768px)
{
    body
    {
        display: flex;
        justify-content: center;
        margin: 0px;
        background: linear-gradient(-45deg, rgba(65, 105, 225, 0.842), #0163F8, #0163F8, #0163F8, #0163F8, rgba(65, 105, 225, 0.842)) no-repeat;
        width: 100vw;
        height: 100vh;
        font-family: 'Poppins', sans-serif;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav
    {
        display: none;
    }
    .banner
    {
        display: none;
    }
    .tittle
    {
        display: none;
    }
    .resetimg
    {
        width: 100%;
        height: 100%;
    }
    .section.home
    {
        height: 100vh;
        width: 100%;
        align-items: flex-end;
    }
    .tittlemobile
    {
        display: flex;
    }
    .podemoslogo
    {
        display: none;
    }
    .imgsection1 {
        height: auto;
        width: 100%;
    }
    .backimgsection1 {
        height: 100%;
    }
    .noticetext {
        width: 90%;
    }
    .toggle
    {
        display: flex;
    }
}
